/* Center everything */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(3, 78, 110);
  font-family: Arial, sans-serif;
}

.title
{
    text-align: center;
    margin-bottom: 20px;
}
.calculator {
  background: white;
  padding: 20px;
  border: 2px solid black;
  width: 300px;
}

/* Display screen */
.display {
  background: black;
  color: white;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Buttons grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

/* Button style */
button {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
